@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
}

body::after {
  content: "";
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a2f7c9d8-a913-4273-847f-705be41395df/da6cg74-e228da46-b728-4101-a742-a7c9e71af73c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2EyZjdjOWQ4LWE5MTMtNDI3My04NDdmLTcwNWJlNDEzOTVkZlwvZGE2Y2c3NC1lMjI4ZGE0Ni1iNzI4LTQxMDEtYTc0Mi1hN2M5ZTcxYWY3M2MuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5GjILFoP4n4A2ASd9G2nJnjH0KncNhWrEOZum3FOi4M);
  background-size: cover;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}


li.randomizer {
  font-family: "Space Mono", monospace;
  font-size: clamp(1.5rem, 10vw, 1rem);
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

li.randomizer:hover {
  box-shadow: inset 125px 0 0 0px white;
  
  color: black;
}




